/*Sets the font family using google fonts*/
*{
	font-family: 'Archivo Narrow', sans-serif;
}

/*Adjusts an appropriate page size for the users browser*/
body{
	width: 100%;
	height: 100%;
	background-color: #333333;
	margin: 0px;
	padding: 0px;
}

/*Sets the main size for the app holder*/
.diceAppHolder{
	border: 10px solid black;
	width: 1280px;
	position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);



}
canvas {
    position: absolute; // this removes the element from the document flow and allows other elements to float over/under it
    z-index:-1; // alternately, we can simply make this '-1' to sit behind everything...
    width: 100px; // just to make it clearly visible when it's working, very handy!
    height:100px;

}

/*Sets the title*/
h1 {
	font-size: 128px;
	text-align: center;
}

/*This holds the main button used to run the app*/
.buttonHolder{
display: inline-block;
margin-bottom: -50px;
margin: inherit;
}

/*.rollDiceButton {
	float: left;
}*/

.clearDiceButton {
	float: left;
	margin-left: 35px;
}

/*This is where the first set of dice is held*/
.diceHolderDice1 {
	display: inline-block;
	margin-left: 50px;
	vertical-align: top;
}

/*This is were the second set of dice is held*/
.diceHolderDice2{
	display: inline-block;
	margin-left: 50px;
	vertical-align: top;
}

/*This is the span that holds the total of the two dice rolled*/
.totalNumber{
	font-size: 96px;
	margin-left: 40%;
}

/*Ths following sets the size of each dice image*/
#dice1{
	width: 64px;
	height: 64px;
}

#dice2{
	width: 64px;
	height: 64px;
}

#dice3 {
	width: 64px;
	height: 64px;
}

#dice4 {
	width: 64px;
	height: 64px;
}

#dice5 {
	width: 64px;
	height: 64px;
}

#dice6 {
	width: 64px;
	height: 64px;
}

#dice7 {
	width: 64px;
	height: 64px;
}

#dice8 {
	width: 64px;
	height: 64px;
}

#dice9 {
	width: 64px;
	height: 64px;
}

#dice10 {
	width: 64px;
	height: 64px;
}

#dice11 {
	width: 64px;
	height: 64px;
}

#dice12 {
	width: 64px;
	height: 64px;
}
